.button{
    background:$blue;
    border:none;
    display: inline-block;
    color:fade-out(white,.15);
    font-size: $font-size-large;
    font-weight:300;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
    padding: $m-size;
    text-decoration: none;
}

.button--link{
    color: fade-out(white,.15);
    background: none;
}

.button--secondary{
    background: #888;
}